button {
  border: none;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  padding: 0.5em;
  transition: opacity 0.5s linear;
}

input {
  width: 250px;
  color: white;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  padding: 0.5em;
  transition: opacity 0.5s linear;
}

input:focus {
  outline: none;
}
